form{
    margin-top: 3%;
    height: 50%;
    text-align: center;
    label{
        padding-bottom: 20%;
    }
    input{
        margin-bottom: 3%;
    }
}

section{
    text-align: center;
    border: groove;
    height: 315px;
    margin: 10px;
    span{
        padding-right: 20px;
    }
}